<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">HRMS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div
          class="collapse navbar-collapse"
          *ngIf="checkEmployer()"
        >
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/position-add"
              >Add Position</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/job-add"
              >Add Job</a
            >
          </li>
        </div>

        <div
          class="collapse navbar-collapse"
          *ngIf="checkCandidate()"
        >
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/resume-add"
              >Add Resume</a
            >
          </li>
        </div>
      </ul>

      <div *ngIf="checkUser(); else notLoginedUser">
        <app-user-info></app-user-info>
      </div>

      <div>
        <ng-template #notLoginedUser>
          <button class="btn btn-outline-primary me-2" routerLink="/login">
            Login
          </button>

          <div class="dropdown me-2">
            <button
              class="btn btn-success dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Sign up
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" routerLink="/candidate-sign"
                  >Sign as candidate</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" routerLink="/employer-sign"
                  >Sign as employer</a
                >
              </li>
            </ul>
          </div>
        </ng-template>
      </div>

      <ng-template #candidateUser>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Add Cv</a>
        </li>
      </ng-template>
    </div>
  </div>
</nav>
