<div class="hero">
  <div class="backdrop">
    <img
      src="https://images.pexels.com/photos/3756679/pexels-photo-3756679.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
      alt=""
      class="image"
    />
  </div>

  <div class="pane">
    <h1 class="fw-bold w-75">
      New <span class="text-success">offers</span> are waiting for you
    </h1>
    <h4 class="w-75 fw-light">find a new job</h4>
    <div class="w-100 form-floating mt-4 d-flex">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        autocomplete="off"
      />
      <label for="floatingInput">Job title or keyword</label>
      <button
        class="
          btn btn-success
          d-flex
          justify-content-center
          align-items-center
          px-3
        "
      >
        Search<i class="ms-2 bi bi-search"></i>
      </button>
    </div>
  </div>
</div>

<div class="spacer layer1">
  <div class="container">
      <h1 class="fw-bold position">Job Positions</h1>
    

    <app-position-card></app-position-card>
  </div>
</div>

<section class="green">
  <h1>Nice Curves!</h1>
  <p>
    A website is like a road. The more curves it has the more interesting it is.
  </p>
</section>

<div class="spacer layer2"></div>
