<div
      class="card no-shadow text-center border-0"
    >
      <div
        class="
          card-body
          d-flex
          justify-content-center
          align-items-center
          flex-column
        "
      >
        <div
          class="
            bg-light
            rounded-circle
            d-flex
            justify-content-center
            align-items-center
            m-3
          "
          style="width: 6rem; height: 6rem"
        >
          <i class="bi bi-code-slash"></i>
        </div>
        <h5 class="card-title">Web Developer</h5>
      </div>
    </div>