<div class="container">
  <p-table
    id="myTable"
    #dt
    [value]="employers"
    dataKey="id"
    styleClass="p-datatable-striped"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="['companyName', 'website', 'email', 'phoneNumber']"
  >
    <ng-template pTemplate="caption">
      <div class="table-header">
        List of Employers
        <!-- <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
            </span> -->
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="companyName">
          <div class="d-flex justify-content-between align-items-center">
            Company Name
            <p-sortIcon field="companyName"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="companyName"
              display="menu"
              class="ms-auto"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="website">
          <div class="d-flex justify-content-between align-items-center">
            Website
            <p-sortIcon field="website"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="website"
              display="menu"
              class="ms-auto"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="email">
          <div class="d-flex justify-content-between align-items-center">
            Email
            <p-sortIcon field="email"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="email"
              display="menu"
              class="ms-auto"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="phoneNumber">
          <div class="d-flex justify-content-between align-items-center">
            Phone Number
            <p-sortIcon field="phoneNumber"></p-sortIcon>
            <p-columnFilter
              type="number"
              field="phoneNumber"
              display="menu"
              class="ms-auto"
            ></p-columnFilter>
          </div>
        </th>

        <!-- <th pSortableColumn="date">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Date
                    <p-sortIcon field="date"></p-sortIcon>
                    <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
            </th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employer>
      <tr class="p-selectable-row">
        <td>
          <span class="p-column-title">Company Name</span>
          {{ employer.companyName }}
        </td>

        <td>
          <span class="p-column-title">Company Name</span>
          {{ employer.website }}
        </td>

        <td>
          <span class="p-column-title">Company Name</span>
          {{ employer.email }}
        </td>

        <td>
          <span class="p-column-title">Company Name</span>
          {{ employer.phoneNumber }}
        </td>

        <!-- <td>
                <span class="p-column-title">Date</span>
                {{customer.date | date: 'MM/dd/yyyy'}}
            </td> -->

        <!-- <td style="text-align: center">
                <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
            </td> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No employers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
