<div class="container">
  <p-table
    *ngIf="loading == false; else loadingInfo"
    id="myTable"
    #dt
    [value]="candidates"
    dataKey="id"
    styleClass="p-datatable-striped"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="[
      'firstName',
      'lastName',
      'email',
      'githubAccount',
      'linkedinAccount'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="table-header">List of Candidates</div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="firstName">
          <div class="d-flex justify-content-between align-items-center">
            Full Name
            <p-sortIcon field="firstName"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="firstName"
              display="menu"
              class="ms-auto"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="email">
          <div class="d-flex justify-content-between align-items-center">
            Email
          </div>
        </th>

        <th pSortableColumn="githubAccount">
          <div class="d-flex justify-content-between align-items-center">
            Github Account
          </div>
        </th>

        <th pSortableColumn="linkedinAccount">
          <div class="d-flex justify-content-between align-items-center">
            Linkedin Account
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-candidate>
      <tr class="p-selectable-row">
        <td>
          <span class="p-column-title">Full Name</span>
          {{ candidate.firstName }} {{ candidate.lastName }}
        </td>

        <td>
          <span class="p-column-title">Email</span>
          {{ candidate.email }}
        </td>

        <td>
          <span class="p-column-title">Github Account</span>
          {{ candidate.githubAccount }}
        </td>

        <td>
          <span class="p-column-title">Linkedin Account</span>
          {{ candidate.linkedinAccount }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No candidates found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #loadingInfo>
  <div
    class="
      text-center
      d-flex
      flex-column
      align-items-center
      justify-content-center
    "
    style="height: 500px"
  >
    <p-progressSpinner></p-progressSpinner>
    <h6 class="mt-2">Loading...</h6>
  </div>
</ng-template>
