<div class="container">
    <p-table
      id="myTable"
      #dt
      [value]="candidates"
      dataKey="id"
      styleClass="p-datatable-striped"
      [rowHover]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0"
      [globalFilterFields]="['firstName', 'lastName', 'email', 'githubAccount', 'linkedinAccount']"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          List of Candidates
          <!-- <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
              </span> -->
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="firstName">
            <div class="d-flex justify-content-between align-items-center">
              First Name
              <p-sortIcon field="firstName"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="firstName"
                display="menu"
                class="ms-auto"
              ></p-columnFilter>
            </div>
          </th>
  
          <th pSortableColumn="lastName">
            <div class="d-flex justify-content-between align-items-center">
              Last Name
              <p-sortIcon field="lastName"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="lastName"
                display="menu"
                class="ms-auto"
              ></p-columnFilter>
            </div>
          </th>
  
          <th pSortableColumn="email">
            <div class="d-flex justify-content-between align-items-center">
              Email
              <p-sortIcon field="email"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="email"
                display="menu"
                class="ms-auto"
              ></p-columnFilter>
            </div>
          </th>
  
          <th pSortableColumn="githubAccount">
            <div class="d-flex justify-content-between align-items-center">
              Github Account
              <p-sortIcon field="githubAccount"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="githubAccount"
                display="menu"
                class="ms-auto"
              ></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="linkedinAccount">
            <div class="d-flex justify-content-between align-items-center">
              Linkedin Account
              <p-sortIcon field="linkedinAccount"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="linkedinAccount"
                display="menu"
                class="ms-auto"
              ></p-columnFilter>
            </div>
          </th>
  
          <!-- <th pSortableColumn="date">
                  <div class="p-d-flex p-jc-between p-ai-center">
                      Date
                      <p-sortIcon field="date"></p-sortIcon>
                      <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto"></p-columnFilter>
                  </div>
              </th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-candidate>
        <tr class="p-selectable-row">
          <td>
            <span class="p-column-title">First Name</span>
            {{ candidate.firstName }}
          </td>
  
          <td>
            <span class="p-column-title">Last Name</span>
            {{ candidate.lastName }}
          </td>
  
          <td>
            <span class="p-column-title">Email</span>
            {{ candidate.email }}
          </td>
  
          <td>
            <span class="p-column-title">Github Account</span>
            {{ candidate.githubAccount }}
          </td>

          <td>
            <span class="p-column-title">Linkedin Account</span>
            {{ candidate.linkedinAccount }}
          </td>
  
          <!-- <td>
                  <span class="p-column-title">Date</span>
                  {{customer.date | date: 'MM/dd/yyyy'}}
              </td> -->
  
          <!-- <td style="text-align: center">
                  <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
              </td> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No candidates found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  