<div class="container w-75 mt-3">
  <div class="card mb-4">
    <div class="card-header fs-6 fw-bold text-center">Add Job Experience</div>

    <div class="card-body">
      <form [formGroup]="experienceAddForm" class="p-2">
        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label>Position</label>
            <select
              name="positionId"
              id="positionId"
              class="form-select"
              formControlName="positionId"
            >
              <option value="" disabled selected>Please select position</option>
              <option
                *ngFor="let position of positions"
                value="{{ position.id }}"
              >
                {{ position.title }}
              </option>
            </select>
            <small
              class="text-danger"
              *ngIf="
                experienceAddForm.get('positionId').hasError('required') &&
                experienceAddForm.get('positionId').touched
              "
              >*Position is required.</small
            >
          </div>

          <div class="form-group col-md-6">
            <label>Work Place</label>
            <input
              class="form-control"
              type="text"
              id="workPlace"
              formControlName="workPlace"
              placeholder="Please enter work place"
            />
            <small
              class="text-danger"
              *ngIf="
                experienceAddForm.get('workPlace').hasError('required') &&
                experienceAddForm.get('workPlace').touched
              "
              >*Work place is required.</small
            >
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label>Start Year</label>
            <input
              class="form-control"
              type="number"
              id="startYear"
              formControlName="startYear"
              placeholder="Please enter start year"
            />
            <small
              class="text-danger"
              *ngIf="
                experienceAddForm.get('startYear').hasError('required') &&
                experienceAddForm.get('startYear').touched
              "
              >*Start year is required.</small
            >
          </div>

          <div class="form-group col-md-6">
            <label>Quit Year</label>
            <input
              class="form-control"
              type="number"
              id="quitYear"
              formControlName="quitYear"
              placeholder="Please enter quit year (optional)"
            />
          </div>
        </div>

        <div class="text-center">
          <button
            [disabled]="!experienceAddForm.valid"
            class="btn btn-success mt-3"
            (click)="addExperience()"
          >
            Add Job Experience
          </button>
        </div>
      </form>
    </div>
  </div>

  <app-candidate-experience-list></app-candidate-experience-list>
  
</div>
