<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="employerSignForm">
      <h1 class="h3 mb-3 fw-normal">Sign up as <b>Employer</b></h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="floatingInput">Email address</label>
        <small
          class="form-text text-danger"
          *ngIf="
            employerSignForm.get('email').hasError('required') &&
            employerSignForm.get('email').touched
          "
        >
          *Email is required.
        </small>

        <small
          class="form-text text-danger"
          *ngIf="employerSignForm.get('email').errors?.email"
        >
          *Please enter a valid email address.
        </small>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Please enter password"
          formControlName="password"
        />
        <label for="floatingPassword">Password</label>
        <small
          class="form-text text-danger"
          *ngIf="
            employerSignForm.get('password').hasError('required') &&
            employerSignForm.get('password').touched
          "
        >
          *Password is required.
        </small>
        <small
          class="form-text text-danger"
          *ngIf="employerSignForm.get('password').errors?.minlength"
        >
          *Password must be have at least 6 characters long.
        </small>

        <small
          class="form-text text-danger"
          *ngIf="employerSignForm.get('password').errors?.maxlength"
        >
          *Password must be maximum 20 characters long.
        </small>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Please enter your company name"
          formControlName="companyName"
        />
        <label for="floatingInput">Company name</label>
        <small
          class="form-text text-danger"
          *ngIf="
            employerSignForm.get('companyName').hasError('required') &&
            employerSignForm.get('companyName').touched
          "
        >
          *Company name is required.
        </small>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Please enter your website"
          formControlName="website"
        />
        <label for="floatingInput">Website</label>
        <small
          class="form-text text-danger"
          *ngIf="
            employerSignForm.get('website').hasError('required') &&
            employerSignForm.get('website').touched
          "
        >
          *Website is required.
        </small>
      </div>

      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="floatingInput"
          placeholder="Please enter your phone number"
          formControlName="phoneNumber"
        />
        <label for="floatingInput">Phone number</label>
        <small
          class="form-text text-danger"
          *ngIf="
            employerSignForm.get('phoneNumber').hasError('required') &&
            employerSignForm.get('phoneNumber').touched
          "
        >
          *Phone number is required.
        </small>
      </div>

      <button
        (click)="addEmployer()"
        class="w-100 btn btn-lg btn-success mt-3"
        type="submit"
      >
        Sign up
      </button>
    </form>
  </main>
</body>
