<div class="container">
  <div class="row">
    <div class="col-md-3">
        <li class="list-group-item rounded fw-bold bg-secondary mt-3 text-light">Active Positions</li>
      <ul class="list-group overflow-auto" style="height: 515px;">
        <li *ngFor="let position of positions" class="list-group-item">{{position.title}}</li>
      </ul>
    </div>

    <div class="col-md-9 mt-3">
        <form [formGroup]="positionAddForm">
            <div class="form-group">
              <label>Position title</label>
              <input
                class="form-control w-50"
                type="text"
                id="title"
                formControlName="title"
                placeholder="Please enter position title"
              />
              <small class="text-danger"
                *ngIf="
                positionAddForm.get('title').hasError('required') &&
                positionAddForm.get('title').touched
                "
                >*Position title is required.</small
              >
            </div>
      
            <button
              [disabled]="!positionAddForm.valid"
              class="btn btn-primary mt-2"
              (click)="addPosition()"
            >
              Add position
            </button>
          </form>

    </div>
  </div>
</div>
