<div class="card my-4 border-bottom-0">
  <div class="card-header text-center fw-bold">Current Experiences</div>
  <p-table
    *ngIf="loading == false; else loadingInfo"
    id="myTable"
    #dt
    [value]="candidateExperiences"
    dataKey="id"
    styleClass="p-datatable-striped"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="d-flex justify-content-between align-items-center">
            Work Place
          </div>
        </th>

        <th>
          <div class="d-flex justify-content-between align-items-center">
            Position Title
          </div>
        </th>

        <th>
          <div class="d-flex justify-content-between align-items-center">
            Start Year
          </div>
        </th>

        <th>
          <div class="d-flex justify-content-between align-items-center">
            Quit Year
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-experience>
      <tr class="p-selectable-row">
        <td>
          <div class="row">
            <div class="col-md-10">
              {{ experience.workPlace }}
            </div>

            <div class="col-md-2 text-end">
              <a
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#modal"
                (click)="catchId(experience.id)"
                class="ms-auto"
              >
                <i class="bi bi-gear text-success"></i>
              </a>
            </div>
          </div>

          <!-- Modal -->
          <div
            class="modal fade"
            id="modal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Update Workplace
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="workPlaceUpdateForm">
                    <div class="row">
                      <div class="form-group col-md-12">
                        <input
                          class="form-control"
                          type="text"
                          id="workPlace"
                          formControlName="workPlace"
                          placeholder="Please enter work place"
                        />
                        <small
                          class="text-danger"
                          *ngIf="
                            workPlaceUpdateForm
                              .get('workPlace')
                              .hasError('required') &&
                            workPlaceUpdateForm.get('workPlace').touched
                          "
                          >*Work place is required.</small
                        >
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    [disabled]="!workPlaceUpdateForm.valid"
                    class="btn btn-success"
                    (click)="updateWorkPlace(experience)"
                  >
                    Save changes
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="row">
            <div class="col-md-10">
              {{ experience.position.title }}
            </div>

            <div class="col-md-2 text-right">
              <a
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#modal2"
                (click)="catchId(experience.id)"
                class="ms-auto"
              >
                <i class="bi bi-gear text-success"></i>
              </a>
            </div>
          </div>
          <!-- Modal -->
          <div
            class="modal fade"
            id="modal2"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Update Position
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="positionUpdateForm">
                    <div class="row mb-3">
                      <div class="form-group col-md-12">
                        <select
                          name="positionId"
                          id="positionId"
                          class="form-select"
                          formControlName="positionId"
                        >
                          <option value="" disabled selected>
                            Please select position
                          </option>
                          <option
                            *ngFor="let position of positions"
                            value="{{ position.id }}"
                          >
                            {{ position.title }}
                          </option>
                        </select>
                        <small
                          class="text-danger"
                          *ngIf="
                            positionUpdateForm
                              .get('positionId')
                              .hasError('required') &&
                            positionUpdateForm.get('positionId').touched
                          "
                          >*Position is required.</small
                        >
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    [disabled]="!positionUpdateForm.valid"
                    class="btn btn-success"
                    (click)="updatePosition(experience)"
                  >
                    Save changes
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="row">
            <div class="col-md-10">
              {{ experience.startYear }}
            </div>
            <div class="col-md-2 text-right">
              <a
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#modal3"
                (click)="catchId(experience.id)"
                class="ms-auto"
              >
                <i class="bi bi-gear text-success"></i>
              </a>
            </div>
          </div>

          <!-- Modal -->
          <div
            class="modal fade"
            id="modal3"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Update Start Year
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="startYearUpdateForm">
                    <div class="row mb-3">
                      <div class="form-group col-md-12">
                        <input
                          class="form-control"
                          type="number"
                          id="startYear"
                          formControlName="startYear"
                          placeholder="Please enter start year"
                        />
                        <small
                          class="text-danger"
                          *ngIf="
                            startYearUpdateForm
                              .get('startYear')
                              .hasError('required') &&
                            startYearUpdateForm.get('startYear').touched
                          "
                          >*Start year is required.</small
                        >
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    [disabled]="!startYearUpdateForm.valid"
                    class="btn btn-success"
                    (click)="updateStartYear(experience)"
                  >
                    Save changes
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="row">
            <div class="col-md-10">
              <span *ngIf="experience.quitYear">
                {{ experience.quitYear }}</span
              >
              <span *ngIf="!experience.quitYear">Present</span>
            </div>

            <div class="col-md-2 text-right">
              <a
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#modal4"
                (click)="catchId(experience.id)"
                class="ms-auto"
              >
                <i class="bi bi-gear text-success"></i>
              </a>
            </div>
          </div>
          <!-- Modal -->
          <div
            class="modal fade"
            id="modal4"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Update Quit Year
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="quitYearUpdateForm">
                    <div class="row mb-3">
                      <div class="form-group col-md-12">
                        <input
                          class="form-control"
                          type="number"
                          id="quitYear"
                          formControlName="quitYear"
                          placeholder="Please enter quit year"
                        />
                        <small
                          class="text-danger"
                          *ngIf="
                          quitYearUpdateForm
                              .get('quitYear')
                              .hasError('required') &&
                              quitYearUpdateForm.get('quitYear').touched
                          "
                          >*Quit year is required.</small
                        >
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    [disabled]="!quitYearUpdateForm.valid"
                    class="btn btn-success"
                    (click)="updateQuitYear(experience)"
                  >
                    Save changes
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No experiences found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #loadingInfo>
  <div
    class="
      text-center
      d-flex
      flex-column
      align-items-center
      justify-content-center
    "
    style="height: 200px"
  >
    <p-progressSpinner></p-progressSpinner>
    <h6 class="mt-2">Loading...</h6>
  </div>
</ng-template>
