<div class="container">
  <form [formGroup]="jobAddForm" class="mt-3">
    <div class="form-group">
      <label>Position</label>
      <select
        name="positionId"
        id="positionId"
        class="form-select"
        formControlName="positionId"
      >
        <option *ngFor="let position of positions" value="{{ position.id }}">
          {{ position.title }}
        </option>
      </select>
      <small
        class="text-danger"
        *ngIf="
          jobAddForm.get('positionId').hasError('required') &&
          jobAddForm.get('positionId').touched
        "
        >*Position is required.</small
      >
    </div>

    <div class="form-group">
      <label>Job Description</label>
      <textarea
        class="form-control"
        type="text"
        id="jobDescription"
        formControlName="jobDescription"
        placeholder="Please enter job description"
      >
      </textarea>
      <small
        class="text-danger"
        *ngIf="
          jobAddForm.get('jobDescription').hasError('required') &&
          jobAddForm.get('jobDescription').touched
        "
        >*Job description is required.</small
      >
    </div>

    <div class="form-group">
      <label>City</label>
      <select
        name="cityId"
        id="cityId"
        class="form-select"
        formControlName="cityId"
      >
        <option *ngFor="let city of cities" value="{{ city.id }}">
          {{ city.name }}
        </option>
      </select>
      <small
        class="text-danger"
        *ngIf="
          jobAddForm.get('cityId').hasError('required') &&
          jobAddForm.get('cityId').touched
        "
        >*City is required.</small
      >
    </div>

    <div class="form-group">
      <label>Work Time</label>
      <input
        class="form-control"
        type="text"
        id="workTime"
        formControlName="workTime"
        placeholder="Please enter work time"
      />
      <small
        class="text-danger"
        *ngIf="
          jobAddForm.get('workTime').hasError('required') &&
          jobAddForm.get('workTime').touched
        "
        >*Work time is required.</small
      >
    </div>

    <div class="form-group">
      <label>Work Model</label>
      <input
        class="form-control"
        type="text"
        id="workModel"
        formControlName="workModel"
        placeholder="Please enter work model"
      />
      <small
        class="text-danger"
        *ngIf="
          jobAddForm.get('workModel').hasError('required') &&
          jobAddForm.get('workModel').touched
        "
        >*Work model is required.</small
      >
    </div>

    <div class="form-group">
      <label>Open Positions</label>
      <input
        class="form-control"
        type="number"
        id="openPositions"
        formControlName="openPositions"
        placeholder="Please enter open position count"
      />
      <small
        class="text-danger"
        *ngIf="
          jobAddForm.get('openPositions').hasError('required') &&
          jobAddForm.get('openPositions').touched
        "
        >*Open positions is required.</small
      >
    </div>

    <div class="form-group">
      <label>Minimum Salary</label>
      <input
        class="form-control"
        type="number"
        id="minSalary"
        formControlName="minSalary"
        placeholder="Please enter minimum salary"
      />
    </div>

    <div class="form-group">
      <label>Maximum Salary</label>
      <input
        class="form-control"
        type="number"
        id="maxSalary"
        formControlName="maxSalary"
        placeholder="Please enter maximum salary"
      />
    </div>

    <div class="form-group">
      <label>Deadline</label>
      <input
        class="form-control"
        type="date"
        id="deadline"
        formControlName="deadline"
        placeholder="Please enter open position count"
      />
      <small
        class="text-danger"
        *ngIf="
          jobAddForm.get('deadline').hasError('required') &&
          jobAddForm.get('deadline').touched
        "
        >*Deadline is required.</small
      >
    </div>

    <button
      [disabled]="!jobAddForm.valid"
      class="btn btn-primary mt-2"
      (click)="addJob()"
    >
      Add job
    </button>
  </form>
</div>
