<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="candidateSignForm">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="floatingInput">Email address</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('email').hasError('required') &&
            candidateSignForm.get('email').touched
          "
        >
          *Email zorunludur.
        </small>

        <small
          class="form-text text-danger"
          *ngIf="candidateSignForm.get('email').errors?.email"
        >
          *Lütfen email formatında giriniz.
        </small>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="password"
        />
        <label for="floatingPassword">Password</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('password').hasError('required') &&
            candidateSignForm.get('password').touched
          "
        >
          *Parola zorunludur.
        </small>

        <small
          class="form-text text-danger"
          *ngIf="candidateSignForm.get('password').errors?.minlength"
        >
          *Parola en az 6 basamaklı olmalıdır.
        </small>

        <small
          class="form-text text-danger"
          *ngIf="candidateSignForm.get('password').errors?.maxlength"
        >
          *Parola en fazla 20 basamaklı olmalıdır.
        </small>
      </div>

      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="floatingInput"
          placeholder="Doğum yılınızı giriniz"
          formControlName="birthYear"
        />
        <label for="floatingInput">Doğum Yılı</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('birthYear').hasError('required') &&
            candidateSignForm.get('birthYear').touched
          "
        >
          *Doğum yılı zorunludur.
        </small>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="İsminizi giriniz"
          formControlName="firstName"
        />
        <label for="floatingInput">İsim</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('firstName').hasError('required') &&
            candidateSignForm.get('firstName').touched
          "
        >
          *İsim zorunludur.
        </small>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Soyisminizi giriniz"
          formControlName="lastName"
        />
        <label for="floatingInput">Soyisim</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('lastName').hasError('required') &&
            candidateSignForm.get('lastName').touched
          "
        >
          *Soyisim zorunludur.
        </small>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="TC No giriniz"
          formControlName="nationalityId"
        />
        <label for="floatingInput">TC No</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('nationalityId').hasError('required') &&
            candidateSignForm.get('nationalityId').touched
          "
        >
          *TC no zorunludur.
        </small>
      </div>

      <button
        (click)="addCandidate()"
        class="w-100 btn btn-lg btn-primary mt-3"
        type="submit"
      >
        Sign in
      </button>
    </form>
  </main>
</body>
