<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="candidateSignForm">
      <h1 class="h3 mb-3 fw-normal">Sign up as <b>Candidate</b></h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="floatingInput">Email address</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('email').hasError('required') &&
            candidateSignForm.get('email').touched
          "
        >
          *Email is required.
        </small>

        <small
          class="form-text text-danger"
          *ngIf="candidateSignForm.get('email').errors?.email"
        >
          *Please enter a valid email address.
        </small>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Please enter password"
          formControlName="password"
        />
        <label for="floatingPassword">Password</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('password').hasError('required') &&
            candidateSignForm.get('password').touched
          "
        >
          *Password is required.
        </small>

        <small
          class="form-text text-danger"
          *ngIf="candidateSignForm.get('password').errors?.minlength"
        >
          *Password must be have at least 6 characters long.
        </small>

        <small
          class="form-text text-danger"
          *ngIf="candidateSignForm.get('password').errors?.maxlength"
        >
          *Password must be maximum 20 characters long.
        </small>
      </div>

      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="floatingInput"
          placeholder="Please enter your birth year"
          formControlName="birthYear"
        />
        <label for="floatingInput">Birth Year</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('birthYear').hasError('required') &&
            candidateSignForm.get('birthYear').touched
          "
        >
          *Birth year is required.
        </small>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Please enter your first name"
          formControlName="firstName"
        />
        <label for="floatingInput">First Name</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('firstName').hasError('required') &&
            candidateSignForm.get('firstName').touched
          "
        >
          *First name is required.
        </small>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Please enter your last name"
          formControlName="lastName"
        />
        <label for="floatingInput">Last Name</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('lastName').hasError('required') &&
            candidateSignForm.get('lastName').touched
          "
        >
          *Last name is required.
        </small>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Please enter your national ID"
          formControlName="nationalityId"
        />
        <label for="floatingInput">National ID</label>
        <small
          class="form-text text-danger"
          *ngIf="
            candidateSignForm.get('nationalityId').hasError('required') &&
            candidateSignForm.get('nationalityId').touched
          "
        >
          *National ID is required.
        </small>
      </div>

      <button
        (click)="addCandidate()"
        class="w-100 btn btn-lg btn-success mt-3"
        type="submit"
      >
        Sign up
      </button>
    </form>
  </main>
</body>
